@font-face {
  font-family: "Fraunces";
  font-weight: 600;
  src: local("Fraunces_144pt-SemiBold"),
    url("/assets/fonts/fraunces-v31-latin-600.woff2"),
    url("/assets/fonts/fraunces-v31-latin-600.woff");
}

@font-face {
  font-family: "Manrope";
  font-weight: 400;
  src: local("Manrope-Regular"),
    url("assets/fonts/manrope-v15-latin-regular.woff2"),
    url("/assets/fonts/manrope-v15-latin-regular.woff");
}

@font-face {
  font-family: "Manrope";
  font-weight: 700;
  src: local("Manrope-Bold"), url("/assets/fonts/manrope-v15-latin-700.woff2"),
    url("/assets/fonts/manrope-v15-latin-700.woff");
}

/* ------------------- CSS Reset ------------------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

*:focus-visible {
  outline: 0.125rem dotted #1e2227;
  outline-offset: 0.125rem;
}

img,
svg,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button {
  font: inherit;
}

/* ------------------- CSS Variables ------------------- */
:root {
  --ff-fraunces: "Fraunces", serif;
  --ff-manrope: "Manrope", sans-serif;

  --ff-heading: var(--ff-fraunces);
  --ff-body: var(--ff-manrope);

  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --fs-400: 16px;
  --fs-500: 20px;
  --fs-600: 28px;
  --fs-700: 32px;
  --fs-900: 50px;

  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-900);
  --fs-secondary-heading: var(--fs-700);
  --fs-tertiary-heading: var(--fs-600);
}

/* ------------------- Media Queries ------------------- */
@media (min-width: 48rem) {
  :root {
    --fs-700: 48px;
    --fs-900: 60px;
  }
}

@media (min-width: 64rem) {
  :root {
    --fs-400: 18px;
    --fs-500: 24px;
    --fs-600: 32px;
    --fs-700: 56px;
    --fs-900: 80px;
  }
}

body {
  background-color: grey;
}
